body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#search-bar {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#movie-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    width: 300px;
}

#search-type {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-container img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-container div {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
    color: #555;
}
#movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.movie-card {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#pagination-controls {
    margin-top: 20px;
    text-align: center;
}

#pagination-controls button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#pagination-controls button:hover {
    background-color: #0056b3;
}